.sidebar_menu{
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}

.course_table{
	width: 600px;
	margin-top: 120px;
	margin-right: 350px;
	float: right;
}

#semester, .buttons, #save{
	position: relative;
	right: 10px;
}


